<div class="page-wrapper">
  <header class="header">
    <h1 i18n class="main-caption">angular/localize example</h1>
    <app-language-selector></app-language-selector>
    <nav class="navigation">
      <a
        i18n
        class="navlink"
        routerLink="/home"
        routerLinkActive="active-link"
        ariaCurrentWhenActive="page"
        >Home</a
      >
      <a
        i18n
        class="navlink"
        routerLink="/details"
        routerLinkActive="active-link"
        ariaCurrentWhenActive="page"
        >Details</a
      >
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>
