<div class="page-wrapper">
  <header class="header">
    <h1 class="main-caption">{{ "header.title" }}</h1>
    <app-language-selector></app-language-selector>
    <nav class="navigation">
      <a
        class="navlink"
        routerLink="/home"
        routerLinkActive="active-link"
        ariaCurrentWhenActive="page"
        >{{ "header.navigation.home" }}</a
      >
      <a
        class="navlink"
        routerLink="/details"
        routerLinkActive="active-link"
        ariaCurrentWhenActive="page"
        >{{ "header.navigation.details" }}</a
      >
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>
